<!-- <div class="quiz-card-song-item" *ngIf="selectedSong">
        <h3>{{ selectedSongData.name }} - {{ selectedSongData.songTitle }}</h3>

        <div>
          <div class="quiz-card-song-item-pic">
            <img
              [src]="
                'https://levi9-song-quiz.herokuapp.com/api/' +
                selectedSongData.image
              "
              [alt]="selectedSongData.songTitle"
            />
          </div>
          <audio
            [src]="
              'https://levi9-song-quiz.herokuapp.com/api/' +
              selectedSongData.audio
            "
            controls
          ></audio>
        </div>

        <p>{{ selectedSongData.description }}</p>
      </div> -->
