h2 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 24px;
  color: var(--quiz-light-gray);
}

input[type="text"] {
  width: 100%;
  height: 52px;
  margin-bottom: 30px;
  background-color: transparent;
  color: var(--quiz-gray);
  border-bottom: 3px solid var(--quiz-blue);
  text-align: center;
  outline: none;
}

input[type="text"]:focus {
  border-color: var(--quiz-white);
  color: var(--quiz-white);
}

input[type="text"]:focus::placeholder {
  color: transparent;
}

.start-page-form-button {
  display: flex;
  justify-content: center;
}
