header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 0px;
}

.user-score {
  margin-top: 10px;
}

.user-score-name {
  margin-right: 30px;
  font-weight: 500;
}

.user-score-value {
  margin-left: 5px;
}

@media (min-width: 320px) {
  header {
    justify-content: space-between;
    flex-direction: row;
  }

  .user-score {
    margin-top: 0px;
  }
}
