.song-wrap {
  margin-top: 24px;
}

.song-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 16px;
}

.song-card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--quiz-blue);
  padding: 5px 5px 5px 5px;
}

.song-card-player {
  display: block;
  margin-top: -5px;
}

.before-song-choose-block {
  width: 0;
}

.before-song-choose-block img {
  display: none;
}

.song-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.song-card audio {
  width: 100%;
  margin-top: 8px;
}

.song-author-descripion {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 12px;
  height: 100%;
}

@media (min-width: 1280px) {
  .song-wrap {
    margin-top: 0px;
  }

  .song-author-descripion {
    height: 80px;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    font-size: 12px;
    margin: 8px 0px 0px 0px;
  }

  .before-song-choose-block {
    height: 574px;
  }

  .before-song-choose-block img {
    display: block;
    width: 592px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(15%, 15%);
  }
}
