<div class="before-song-choose-block" *ngIf="!songData">
  <img src="assets/images/union.png" alt="union" />
</div>
<div *ngIf="songData" class="song-wrap">
  <h2 class="song-title">{{ songData.name }} - {{ songData.songTitle }}</h2>

  <div class="song-card">
    <img
      [src]="'https://levi9-song-quiz.herokuapp.com/api/' + songData.image"
      [alt]="songData.songTitle"
    />
    <app-audio-player
      class="song-card-player"
      [showArtistImage]="false"
      [audioUrl]="'https://levi9-song-quiz.herokuapp.com/api/' + songData.audio"
    ></app-audio-player>
  </div>

  <p class="song-author-descripion">{{ songData.description }}</p>
</div>
