<div class="quiz-page-body-left">
  <h2>{{ singleGenreData.genre }} song</h2>
  <p>Listen to the audio guess what song is it from the list</p>

  <!-- <div class="quiz-card-genre-item-audio">
      <audio
        [src]="
          'https://levi9-song-quiz.herokuapp.com/api/' + rightAnswerSongUrl
        "
        controls
      ></audio>
    </div> -->

  <!-- <div *ngFor="let song of singeGenreSongs; let i = index">
    <div class="song-info">
      0{{ i + 1 }}: {{ song.name }} - {{ song.songTitle }}
    </div>
  </div> -->
</div>
