<div class="quiz">
  <h2>{{ singleGenreData.genre | titlecase }} song</h2>
  <p>Listen to the audio guess what song is it from the list</p>
  <div class="quiz-audio-player">
    <app-audio-player
      [showArtistImage]="true"
      [audioUrl]="roundAnswerSongUrl"
      [imageUrl]="
        isRoundOver ? roundAnswerImageUrl : 'assets/images/unknown-song.png'
      "
    ></app-audio-player>
  </div>
  <div *ngFor="let song of singleGenreData.data; let i = index">
    <div
      class="quiz-option-wrap"
      (click)="onSongSelect(song.id, selectedItem)"
      #selectedItem
    >
      <div class="quiz-option-select"></div>
      <div class="quiz-option">
        0{{ i + 1 }}: {{ song.name }} - {{ song.songTitle }}
      </div>
    </div>
  </div>
</div>
