.progress-bar {
  background-color: var(--quiz-dark-blue);
  z-index: 50;
}

.progress-bar-indicator {
  position: relative;
  height: 4px;
  background-color: var(--quiz-gray);
}

.progress-bar-gray {
  position: absolute;
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--quiz-light-gray),
    var(--quiz-transparent)
  );
}

.progress-bar-violet {
  position: absolute;
  height: 100%;
  background-color: var(--quiz-light-violet);
}

.progress-bar-items {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--quiz-blue);
}

.progress-bar-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  padding: 10px 0px;
  color: var(--quiz-gray);
  font-size: 12px;
}

.current-genre {
  color: var(--quiz-light-gray);
}

.current-genre-highlighted {
  color: var(--quiz-light-violet);
}

.progress-bar-item-arrow {
  width: 10px;
}
