<div class="progress-bar">
  <div class="progress-bar-indicator">
    <div
      class="progress-bar-gray"
      [ngStyle]="{
        width:
          'calc(((100%/' +
          genresDataLength +
          ') *' +
          counter +
          ') + (100%/' +
          genresDataLength +
          '))'
      }"
    ></div>
    <div
      class="progress-bar-violet"
      [ngStyle]="{
        width: isRoundOver
          ? 'calc(((100%/' +
            genresDataLength +
            ') *' +
            counter +
            ') + (100%/' +
            genresDataLength +
            '))'
          : 'calc(((100%/' + genresDataLength + ') *' + counter + '))'
      }"
    ></div>
  </div>
  <div class="progress-bar-items">
    <div
      class="progress-bar-item"
      *ngFor="let genreItem of allGenresData; let i = index"
      [ngClass]="isLighted(i, progressBarItem)"
      #progressBarItem
    >
      <div class="progress-bar-item-genre">
        {{ genreItem.genre | uppercase }}
      </div>
      <div class="progress-bar-item-arrow" *ngIf="i < allGenresData.length - 1">
        &#8594;
      </div>
    </div>
  </div>
</div>
