<div class="quiz-page" *ngIf="!isDataLoading">
  <app-quiz-page-header></app-quiz-page-header>
  <app-quiz-page-progress-bar
    [allGenresData]="allGenresData"
  ></app-quiz-page-progress-bar>
  <div class="quiz-page-body">
    <app-quiz-page-quiz
      class="quiz-page-body-left"
      [allGenresData]="allGenresData"
    ></app-quiz-page-quiz>
    <app-quiz-page-description
      class="quiz-page-body-right"
      [allGenresData]="allGenresData"
    ></app-quiz-page-description>
  </div>
  <app-button
    class="quiz-page-button"
    *ngIf="counter < allGenresDataLength - 1"
    (click)="toNextGenre()"
    [isFormValid]="!isRoundOver"
    [buttonText]="'Next question'"
  ></app-button>
  <app-button
    class="quiz-page-button"
    *ngIf="counter === allGenresDataLength - 1"
    (click)="toResultPage()"
    [isFormValid]="!isRoundOver"
    [buttonText]="'See result'"
  ></app-button>
</div>
<div class="loader-wrap" *ngIf="isDataLoading">
  <div class="loader"></div>
</div>
