.quiz-page-container {
  max-width: 1024px;
  margin: 0 auto;
  border: 1px solid orange;
}

.progress-bar {
  border: 1px solid peachpuff;
  display: flex;
  justify-content: space-around;
}

.progress-bar-item {
  height: 35px;
  display: flex;
  align-items: center;
}

.quiz-card-wrapper {
  border: 1px solid purple;
  display: flex;
}

.quiz-card-left-side {
  width: 40%;
  border: 1px solid gainsboro;
}

.quiz-card-right-side {
  width: 60%;
  border: 1px solid pink;
}

.quiz-card-song-item-pic {
  width: 350px;
  height: 300px;
}

.quiz-card-song-item-pic img {
  width: 100%;
}

.song-info {
  height: 45px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 16px;
}

.right-answer {
  background-color: green;
}

.wrong-answer {
  background-color: red;
}