.quiz-page {
  width: 100%;
  margin: 0 auto;
  padding: 24px 8px 0px 8px;
  position: relative;
  z-index: 10;
}

.quiz-page-body {
  display: flex;
  flex-direction: column;
  background-color: var(--quiz-dark-blue);
  margin-bottom: 8px;
  padding: 16px 8px 0px 8px;
  overflow: hidden;
  position: relative;
}

.quiz-page-body-left {
  width: 100%;
}

.quiz-page-body-right {
  width: 100%;
}

.quiz-page-button {
  float: right;
}

.loader-wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 12px solid var(--quiz-light-violet);
  border-top: 12px solid var(--quiz-light-gray);
  opacity: 0.8;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 640px) {
  .quiz-page {
    max-width: 640px;
  }

  .quiz-page-body {
    padding: 32px 16px 8px 16px;
  }
}

@media (min-width: 768px) {
  .quiz-page {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .quiz-page {
    max-width: 1024px;
  }

  .quiz-page-body {
    padding: 32px 48px 24px 48px;
  }
}

@media (min-width: 1280px) {
  .quiz-page {
    max-width: 1280px;
    padding: 24px 56px 0px 56px;
  }

  .quiz-page-body {
    flex-direction: row;
  }

  .quiz-page-body-left {
    width: 42%;
  }
  .quiz-page-body-right {
    width: 58%;
    padding-left: 48px;
  }
}
